body {
	font-family: monospace;
	background: black;
	color: green;
}

.button {
	width: 210px;
	margin-right: 10px;
	padding: 10px;
	height: 100px;
	background: red;
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: white;
	font-size: 21px;
}

.button:HOVER {
	background: #ff4444;
}

#text {
	/*background: yellow;*/
	width: 1200px;
	height: 300px;
	position: relative;
	border-top: 1px dashed green;
	margin-top: 20px;
}

.newline {
	/*background: green;*/
	height: 20px;
	width: 1200px;
	border-top: 1px solid green;
}

.line {
	/*background: blue;*/
	height: 20px;
	width: 1200px;
	position: absolute;
	white-space: pre-wrap;
}

.removed {
	color: #666666;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	font-size: 62px;
	text-align: center;
	color: black;
}

.cooling-down {
	background: #880000;
	color: gray;
	cursor: not-allowed;
}

.cooling-down:HOVER {
	background: #880000;
}

#text span {
	display: inline-block;
}