@import url(http://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=Faster+One);

body {
	font-family: 'Press Start 2P';
	background: #333;
	color: green;
	background-image: url(binding_dark.png);
	overflow-x: hidden;
}

#text {
	background: #111;
	width: 952px;
	height: 300px;
	position: relative;
	/*border-top: 1px dashed green;*/
	margin: 20px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid rgba(33, 33, 33, 0.5);
}

#screen1 {
	float: left;
	z-index: 1;
    border: 1px solid rgba(0,0,0,0.5);
	width: 952px;
	height: 327px;
    border-radius: 10px 10px 10px 10px;
    background: rgba(0,0,0,0.25);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

table {
	pointer-events: none;
}

.newline {
	background: #111;
	float: left;
	z-index: -1;
	height: 25px;
	width: 933px;
	border-top: 3px solid green;
	border-radius: 0px 0px 10px 10px;
	margin: -30px 0 0 20px;
	padding: 0px 10px;
}

.line {
	/*background: blue;*/
	height: 20px;
	width: 1180px;
	position: absolute;
	white-space: pre-wrap;
	padding: 0px 10px;
}

.removed {
	visibility: hidden;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	font-size: 62px;
	text-align: center;
	color: black;
}

#text span {
	display: inline-block;
}

.alive {
    text-shadow: 0px 0px 7px rgba(0, 255, 0, 0.25);	
}

.hot {
	color: red;
    text-shadow: 0px 0px 7px rgba(255, 0, 0, 0.85);	
}

#album {
	width: 545px;
	float: left;
}

#album .button {
	margin: 20px 0 19px 30px;
}

#buttons .button {
	margin: 8px;
}

#details {
	width: 452px;
	float: left;
	margin-top: 10px;
}

.take , .untake {
	width: 200px;
	text-align: center;
	font-size: 120%;
	cursor: pointer;
}

#album .taken {
	background: red;
}

.start {
	width: 150px;
	text-align: center;
	font-size: 120%;
	cursor: pointer;
}

#atext {
	background: black;
    text-shadow: 0px 0px 7px rgba(0, 255, 0, 0.25);
	padding-bottom: 10px;
	padding-top: 10px;
	width: 425px;
	height: 400px;
	border-radius: 10px 10px 10px 10px;
	border-bottom: 1px solid rgba(33, 33, 33, 0.5);
}

#ascreen {
	float: left;
	z-index: 1;
    border: 1px solid rgba(0,0,0,0.5);
	width: 425px;
	height: 420px;
	margin: -11px 0 11px 0;
    border-radius: 10px 10px 10px 10px;
    background: rgba(0,0,0,0.25);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

#aul {
	width: 200px;
	list-style-type: none;
	line-height: 22px;
	margin-left: -20px;
	font-size: 13px;
}

.button * {
	pointer-events: none;
}

.invert {
	background: green !important;
	color: black !important;
	padding: 3px !important;
}

#counters {
	position: absolute;
	right: 8px;
	top: 14px;
	padding: 5px;
	background: green;
	color: black;
	z-index: 1000;
	text-align: right;
	opacity: 0.8;
	color: #222;
    text-shadow: 0px 0px 7px rgba(0, 255, 0, 0.25);
}

#awrapper {
	width: 1000px;
	height: 700px;
    border: 1px solid #FFF;
	margin-bottom:200px;
	margin:0 auto;	
	background-color:#000;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
    box-shadow:0px 0px 0px 5px #666, 34px 34px 4px 0px rgba(5, 5, 5, 0.75);
}

.wcklogo {
	color: #eee;
	display: block;
	text-align: right;
	margin: 0 24px 20px 0;
	font-family: "Faster One";
	font-size: 46px;
}

.cables {
position: absolute;
top: -600px;
left: 70px;
float: left;
z-index: -5;
}

.cable {
width: 1800px;
height: 800px;
position: absolute;
-webkit-border-radius:33px;
-moz-border-radius:33px;
border-radius:33px;
-moz-box-shadow: 0px 0px 7px 7px #ff4e47;
-webkit-box-shadow: 0px 0px 7px 7px #ff4e47;
box-shadow: 0px 0px 7px 7px #ff4e47;
}

.cable2 {
width: 1830px;
height: 800px;
position: absolute;
top: 17px;
left: -17px;
-webkit-border-radius:45px;
-moz-border-radius:45px;
border-radius:45px;
-moz-box-shadow: inset 0px 0px 7px 7px #ff4e47;
-webkit-box-shadow: inset 0px 0px 7px 7px #ff4e47;
box-shadow: inset 0px 0px 7px 7px #ff4e47;
}

.cable3 {
top: 20px;
left: -20px;
-moz-box-shadow: 0px 0px 7px 7px #007e47;
-webkit-box-shadow: 0px 0px 7px 7px #007e47;
box-shadow: 0px 0px 7px 7px #007e47;
}

.cable4 {
top: 37px;
left: -37px;
-moz-box-shadow: inset 0px 0px 7px 7px #007e47;
-webkit-box-shadow: inset 0px 0px 7px 7px #007e47;
box-shadow: inset 0px 0px 7px 7px #007e47;
}

.cable5 {
top: 40px;
left: -40px;
-moz-box-shadow: 0px 0px 7px 7px #002ea7;
-webkit-box-shadow: 0px 0px 7px 7px #002ea7;
box-shadow: 0px 0px 7px 7px #002ea7;
}

.cable6 {
top: 57px;
left: -57px;
-moz-box-shadow: inset 0px 0px 7px 7px #002ea7;
-webkit-box-shadow: inset 0px 0px 7px 7px #002ea7;
box-shadow: inset 0px 0px 7px 7px #002ea7;
}

#buttons {
margin: 15px;
}

#mtext {
	background: black;
    text-shadow: 0px 0px 7px rgba(0, 255, 0, 0.25);
	margin: 30px 18px;
	float: left;
	width: 425px;
	height: 440px;
	border-radius: 10px 10px 10px 10px;
	position: relative;
	border-bottom: 1px solid rgba(33, 33, 33, 0.5);
}

#mscreen {
	float: left;
	z-index: 1;
    border: 1px solid rgba(0,0,0,0.5);
	width: 425px;
	height: 455px;
	margin: -11px 0 11px 0;
    border-radius: 10px 10px 10px 10px;
    background: rgba(0,0,0,0.25);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.menubut {
	width: 400px;
	text-align: center;
	font-size: 120%;
	cursor: pointer;
}

#menuitems {
	text-align: right;
	margin: 5px 15px;
}

#credits {
	top: 400px;
	margin-left: 14px;
	width: 415px;
	position: absolute;
}